@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Paprika&display=swap"');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#app {
  display: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}
